* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    font-family: sans-serif;
    overflow-wrap: anywhere;
    height: 100%;
    --status-color: none;
}
:root[data-status="success"] {
    --status-color: Green;
}
:root[data-status="warn"] {
    --status-color: Orange;
}
:root[data-status="error"] {
    --status-color: OrangeRed;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 0;
}

section::before {
    content: "";
    display: block;
    position: absolute;
    inset: -8px;
    height: 30px;
    background: var(--status-color);
}

input, button {
    display: block;
    padding: 8px;
    width: 100%;
}

input[type="submit"], input[type="reset"], button {
    cursor: pointer;
    text-align: center;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h1, p, form > input:not([type="submit"], [type="reset"]) {
    margin: 30px 0;
}

.big {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.buttons {
    display: flex;
}

.buttons > * {
    width: auto;
}

.buttons > .big {
    flex: 1;
}

@media (min-width: 17rem) {

    body {
        background: var(--status-color);
        position: relative;
    }

    body::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 25%);
    }

    section {
        background: Canvas;
        position: relative;
        box-shadow: rgba(0, 0, 0, 25%) 0px 54px 55px, rgba(0, 0, 0, 12%) 0px -12px 30px, rgba(0, 0, 0, 12%) 0px 4px 6px, rgba(0, 0, 0, 17%) 0px 12px 13px, rgba(0, 0, 0, 9%) 0px -3px 5px;
        width: 20rem;
        max-width: 100%;
        margin: auto;
    }

    section::before {
        inset: 0;
        height: 22px;
    }

    h1, p, form > input:not([type="submit"], [type="reset"]) {
        margin: 30px;
    }

    form > input:not([type="submit"], [type="reset"]) {
        width: calc(100% - 2 * 30px);
    }

}
