#edit-key {
    display: none;
}

:root[data-page="edit-key"] #edit-key {
    display: block;
}

#edit-key header {
    position: relative;
}

#edit-key header .buttons {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#edit-key header h1 {
    padding: 0 35px;
}

#edit-key *[data-name="update"] {
    padding-left: 40px;
}

@media (min-width: 17rem) {

    #edit-key header .buttons {
        right: 30px;
    }

}
